!! xft settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96

Xcursor.theme: Paper

!! urxvt setting
urxvt.perl-ext:
urxvt.font: xft:monospace:pixelsize=12
urxvt.scrollBar: false
urxvt.urgentOnBell: true
urxvt.title: terminal
urxvt*cursorUnderline: true
!! urxvt url matcher
urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/xdg-open
urxvt.matcher.button: 1
urxvt.keysym.C-Delete: perl:matcher:last
urxvt.keysym.M-Delete: perl:matcher:list
urxvt.internalBorder: 2
urxvt*pointerBlank: true

XTerm*faceName: monospaced
XTerm*faceSize: 12

! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
! title      Nord XResources                                    +
! project    nord-xresources                                    +
! version    0.1.0                                              +
! repository https://github.com/arcticicestudio/nord-xresources +
! author     Arctic Ice Studio                                  +
! email      development@arcticicestudio.com                    +
! copyright  Copyright (C) 2016                                 +
! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6



st.font:         monospace:pixelsize=16:antialias=true:autohint=true;
!st.borderpx:     10
! Available cursor values: 2 4 6 7 = █ _ | ☃ ( 1 3 5 are blinking versions)
st.cursorshape:  4
!st.cursorthickness:  2
!st.cursorblinkstyle: 0
!st.cursorblinkontype: 1
!st.bold_font:    0
st.xfps:         120
st.actionfps:    30
st.chscale:      1.0
st.cwscale:      1.0
st.blinktimeout: 800
st.bellvolume:   100
! this is a char that is exposed like so: `printf '\033[z'`
st.prompt_char:  $
st.opacity:      255


!! rofi colors
rofi.color-enabled: true
! Property Name     BG       Border   Separator
rofi.color-window:  #3b4252, #3b4252, #2e3440
! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3b4252, #e5e9f0, #3b4252, #3b4252, #8fbcbb
rofi.color-active:  #3b4252, #ebcb8b, #3b4252, #3b4252, #ebcb8b
rofi.color-urgent: #3b4252, #88c0d0, #3b4252, #3b4252, #88c0d0


rofi.font: Sans 13
rofi.padding: 40
rofi.lines: 20
rofi.separator-style: solid
rofi.hide-scollbar: true
rofi.scrollbar-width: 0


