!! xft settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96

Xcursor.theme: Paper

!! urxvt setting
urxvt.perl-ext:
urxvt.font: xft:monospace:pixelsize=12
urxvt.scrollBar: false
urxvt.urgentOnBell: true
urxvt.title: terminal
urxvt*cursorUnderline: true
!! urxvt url matcher
urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/xdg-open
urxvt.matcher.button: 1
urxvt.keysym.C-Delete: perl:matcher:last
urxvt.keysym.M-Delete: perl:matcher:list
urxvt.internalBorder: 2
urxvt*pointerBlank: true

!! zenburn colors
*foreground:   #c5c8c6
*background:   #1d1f21
*cursorColor:  #aeafad
*color0:       #000000
*color1:       #912226
*color2:       #778900
*color3:       #ae7b00
*color4:       #1d2594
*color5:       #682a9b
*color6:       #2b6651
*color7:       #929593
*color8:       #666666
*color9:       #cc6666
*color10:      #b5bd68
*color11:      #f0c674
*color12:      #81a2be
*color13:      #b294bb
*color14:      #8abeb7
*color15:      #ecebec

!! rofi colors
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #3f3f3f, #222222, #dcdccc
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #3f3f3f, #dcdccc, #383838, #4f4f4f, #ffffef
rofi.color-active: #4c7073, #dcdccc, #366060, #5c888b, #ffffef
rofi.color-urgent: #8c5353, #dcdccc, #7c4343, #9c6363, #ffffef

rofi.font: Sans 13
rofi.padding: 40
rofi.lines: 20
rofi.separator-style: solid
rofi.hide-scollbar: true
rofi.scrollbar-width: 0


