ACTION=="change", SUBSYSTEM=="drm", RUN+="/bin/su -s /bin/sh - jan /home/jan/bin/autorandr.sh"
#ACTION=="change", SUBSYSTEM=="drm", RUN+="sudo -u jan /home/jan/wlrandr/wlrandr.sh"
